body, html {
    margin:0;
    padding:0;
}

body{
    background-color: #0D1B2A;
}

p, h1, h2, h3, h4{
    margin: 0;
    color:aliceblue;
    font-family: Sans-serif;
}

h2{
    color: #00A7E1;
    font-size: medium;
}

strong{
    color: #00A7E1;
}

p{
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 12px;
}

#last{
    margin-bottom: 0;
}

span{
    color: #00A7E1;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 2px;
}

h3{
    margin-bottom: 12px;
}

div.premiere, div.deuxieme, .competences{
    margin: 16px;
    background-color: #1B263B;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

div.premiere{
    align-items:center;
}

div.profil {
    background-color: white;
    height: 156px;
    width: 156px;
    margin: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
img.photoProfil {
    width: 94%;
    height: 94%;
    display: block;
    border-radius: 50%;
}

div.bio{
    margin: 16px;
    padding: 12px;
    border-radius: 12px;
    background-color: #202d47;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

button.cv{

    height: 36px ;
    min-width: 64px;
    background-color: #415A77;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #00A7E1;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: rubik;
    font-size: medium;

    border-radius: 6px;
    margin-top: 18px;

    padding-left: 24px;
    padding-right: 24px;

    
}

.footer{
    height: 56px;
}

/* FORMATIONS */

.deuxieme, .competences{
    padding: 16px;
}

.formation{
    display: flex;
    margin-bottom:16px;
}

#first.formation{
    margin-top:12px;
}

#last.formation{
    margin-bottom: 0;
}

div.imgFormations{
    min-width: 82px;
    min-height: 82px;

    max-width: 82px;
    max-height: 82px;

    margin-right: 12px;
}

img.formationsLogo{
    height: 100%;
    width: 100%;
    border-radius: 12px ;
}

.annees{
    color: aliceblue;
}

.formation-lieu{
    margin-bottom: 0;
}

.formation-titre{
    color: #00A7E1;
    margin-bottom: 0;
}

.formations-titre{
    display: flex;
    justify-content: center;
}

/* COMPETENCES */

.competenceDétail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

#last.competenceDétail{
    margin-bottom: 0;
}

.compétenceLogo{
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.competenceImg{
    width: 100%;
    height: 100%;
}

.langueImg{
    width: 80%;
    height: 80%;
}

.competenceMain{
    display: flex;
    align-items: center;
}

.titreCompetence{
    font-size: 14px;
    margin-left: 6px;
}

.titreLangue{
    margin-top: 6px;
    margin-bottom: 12px;
}


/* NAVIGATION */

div.navBar{

    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color:#0D1B2A;
    border-top: 1px solid rgba(128, 128, 128, 0.151);
}

div.navButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;

}

img.navIcons{
    width: 24px;
    height: 24px;
}

p.iconLabel{
    font-size: 12px;
    color: #00A7E1;
    margin: 0;
}